{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <h1>
        {% if wordlist %}
            Liste bearbeiten
        {% else %}
            Neue Liste
        {% endif %}
    </h1>
    <form action="{% if wordlist %} {% url 'edit-list' wordlist.id %} {% else %}{% url 'create-wordlist' %}{% endif %}"
          method="post">
        {% csrf_token %}
        {{ editor_form|crispy }}
        <button type="submit" class="btn btn-primary">Speichern</button>
    </form>
{% endblock content %}
